<%- include("includes/head") %>

<div class="container">
<img id="logo" src="../img/logo.png">
<h2 class="brand" style="margin-bottom: 1rem;">Reset password</h2>
<form method="POST">
  <core-field>
    <p><core-icon icon="social:person"></core-icon> <%= user.email %></p>
  </core-field>
  <core-field>
    <core-icon icon="communication:vpn-key"></core-icon>
    <input name="password" type="password" placeholder="Password" flex>
  </core-field>
  <input type="hidden" value="<%= user.email %>" name="email">
  <input type="hidden" value="<%= user.token %>" name="token">
  <input type="submit" value="Update" />
</form>
</div>

<%- include("includes/foot") %>
